<section class="conacts-section">
    <div class="container">
        <div class="contacts-background-image"></div>
        <div class="contacts">
            <h2 class="visually-hidden">Contacts information</h2>
            <ul class="contact__cards-list">
                <li class="contact__cards-item">
                    <p class="contact-cards__name"><span class="contact-cards__name-text">Cafe</span></p>
                    <ul class="cards-text-list border-list">
                        <li class="cards-text-item">
                            <h4 class="heading-cards-text">Chicago</h4>
                        </li>
                        <li class="cards-text-item">
                            <p class="cards-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                    <ul class="cards-work-list border-list">
                        <li class="cards-work-item">
                            <p class="cards-text-tima">Monday - Friday</p>
                            <p class="cards-tima">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="cards-work-item">
                            <p class="cards-text-tima">Saturday - Sunday</p>
                            <p class="cards-tima">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contact-linc-lict">
                        <li class="contact-linc-item">
                            <a class="contact-linc" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contact-linc-item">
                            <a class="contact-linc" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
                <li class="contact__cards-item">
                    <p class="contact-cards__name "><span class="contact-cards__name-text foodtruck">Foodtruck</span></p>
                    <ul class="cards-text-list border-list">
                        <li class="cards-text-item">
                            <h4 class="heading-cards-text">Los Angeles</h4>
                        </li>
                        <li class="cards-text-item">
                            <p class="cards-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                    <ul class="cards-work-list border-list">
                        <li class="cards-work-item">
                            <p class="cards-text-tima">Monday - Friday</p>
                            <p class="cards-tima">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="cards-work-item">
                            <p class="cards-text-tima">Saturday - Sunday</p>
                            <p class="cards-tima">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contact-linc-lict">
                        <li class="contact-linc-item">
                            <a class="contact-linc" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contact-linc-item">
                            <a class="contact-linc" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
                <li class="contact__cards-item">
                    <p class="contact-cards__name"><span class="contact-cards__name-text">Cafe</span></p>
                    <ul class="cards-text-list border-list">
                        <li class="cards-text-item">
                            <h4 class="heading-cards-text">New York</h4>
                        </li>
                        <li class="cards-text-item">
                            <p class="cards-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                    <ul class="cards-work-list border-list">
                        <li class="cards-work-item">
                            <p class="cards-text-tima">Monday - Friday</p>
                            <p class="cards-tima">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="cards-work-item">
                            <p class="cards-text-tima">Saturday - Sunday</p>
                            <p class="cards-tima">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contact-linc-lict">
                        <li class="contact-linc-item">
                            <a class="contact-linc" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contact-linc-item">
                            <a class="contact-linc" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="conacts-bt-list">
                <li class="conacts-bt-list">
                    <button class="button-width conacts-button" type="button">Our Locations
                        <svg class="conacts-button-svg">
                            <use href="./images/sprite.svg#./images/sprite.svg#icon-button-arrow"></use>
                        </svg>
                    </button>
                </li>
                <li class="conacts-bt-list">
                    <button class="button-width conacts-bt" type="button">Franchise
                        <svg class="conacts-bt-svg">
                            <use href="./images/sprite.svg#icon-button-arrow"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>    
    </div>
</section>
<!--модальное окно-->
<!--<div class="conacts__locations-section is-hidden">
    <div class="container">
        <button data-modal-close type="button">
            <svg width="16" height="16">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <ul class="conacts__locations-lict">
            <li class="conacts__locations-item">
                <p class="conacts__locations-adress"> 2851 S King Dr, Chicago, IL 60616, USI</p>
                <iframe class=" conacts__locations-map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6868.2491672235055!2d-87.62145304135947!3d41.84206709874011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2b8a20e6813d%3A0x273aaddd304fbde9!2sPrairie%20Shores!5e0!3m2!1sru!2sua!4v1626732194245!5m2!1sru!2sua"
                    width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </li>
            <li class="conacts__locations-item">
                <p class="conacts__locations-adress"> 5189 Sunset Blvd, Los Angeles, CA 90027, USI</p>
                <iframe class=" conacts__locations-map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15640.279711531093!2d-118.3010231557195!3d34.099528518334445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x88b7f6232b8bb486!2sOcha%20Classic!5e0!3m2!1sru!2sua!4v1626732691212!5m2!1sru!2sua"
                    width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </li>
            <li class="conacts__locations-item">
                <p class="conacts__locations-adress"> 104 Main St, Woodbridge, NJ 07095, USI</p>
                <iframe class=" conacts__locations-map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d378.92861353790533!2d-74.2807742415318!3d40.55420469999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b5b15e1ef2cf%3A0xfadfb31bf6063ed6!2zMTA0IE1haW4gU3QsIFdvb2RicmlkZ2UsIE5KIDA3MDk1LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1626733131777!5m2!1sru!2sua"
                    width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </li>

        </ul>

    </div>
</div>-->