<section class="hero-section container">


    <div class="hero-section-information">
    <h1 class="hero-section-title">
     <span class="hero-section-title-ice">ice cream <br>
      made with</span> <br>
      <span class="hero-section-title-p">passion</span>
    
    </h1>
    <ul class="hero-section-button">
      <li><button class="hero-section-button-first">Products</button></li>
      <li><button class="hero-section-button-second">How it’s made?</button></li>
    </ul>
</div>
    <div class="hero-section-ellipse">
        <img 
        class="hero-section-ice-cream" 
        src="./images/mob.img/hero/slider-pic71.png" 
        alt="ice-cream"
        >
      
    </div>
</section>