<section class="products-section">
    <div class="container">
      <h1 class="title1">100% natural</h1>
      <h2 class="title2">Products</h2>
   
      <ul class="products__list">
        <li class="products__list-item">
          <div class="products__list-item-container list-container">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
              ./images/mob.img/products/1home-pic1.webp 1x,
              ./images/mob.img/products/1home-pic1@2x.webp 2x"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
              ./images/mob.img/products/1home-pic1.webp 1x,
              ./images/mob.img/products/1home-pic1@2x.webp 2x"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/mob.img/products/1home-pic1.webp 1x,
              ./images/mob.img/products/1home-pic1@2x.webp 2x"
            />
            <img src="#" alt="Ice Cream" class="img"/>
          </picture>
           
           <h3 class="title3">Ice Cream</h3>


           <ul class="points">
            <li class="points-item">
             <a href="#" class="link">
             <svg class="icon-points">
                 <use class="" href="./images/sprite.svg#icon-white-circle" ></use>
             </svg>
             </a>
            </li>
            <li class="points-item">
             <a href="#" class="link">
                 <svg class="icon-points">
                     <use class="" href="./images/sprite.svg#icon-white-circle" ></use>
                 </svg>
                 </a>
            </li>
            <li class="points-item">
             <a href="#" class="link">
                 <svg class="icon-points">
                     <use class="" href="./images/sprite.svg#icon-white-circle" ></use>
                 </svg>
                 </a>
            </li>
        </ul>


           <!-- ОПИС -->
        <p class="products_list-container-suptitile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
     
      <!-- КНОПКА  -->
      <div class="button">
        <a href="#" class="link">
          <svg class="link-button">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
      </a>
    </div>
    </div>

        </li>
        <li class="products__list-item " >
          <div class="products__list-item-container1 list-container">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
              ./images/mob.img/products/2home-pic1.webp 1x,
              ./images/mob.img/products/2home-pic1@2x.webp 2x"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
              ./images/mob.img/products/2home-pic1.webp 1x,
              ./images/mob.img/products/2home-pic1@2x.webp 2x"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/mob.img/products/2home-pic1.webp 1x,
              ./images/mob.img/products/2home-pic1@2x.webp 2x"
            />
            <img src="#" alt="Ice Coffee" class="img"/>
          </picture>
           
           <h3 class="title3">Ice Coffee</h3>
           
           <ul class="points">
               <li class="points-item">
                <a href="#" class="link">
                <svg class="icon-points">
                    <use class="" href="./images/sprite.svg#icon-white-circle" ></use>
                </svg>
                </a>
               </li>
               <li class="points-item">
                <a href="#" class="link">
                    <svg class="icon-points">
                        <use class="" href="./images/sprite.svg#icon-white-circle" ></use>
                    </svg>
                    </a>
               </li>
               <li class="points-item">
                <a href="#" class="link">
                    <svg class="icon-points">
                        <use class="" href="./images/sprite.svg#icon-white-circle" ></use>
                    </svg>
                    </a>
               </li>
           </ul>


           <!-- ОПИС -->
        <p class="products_list-container-suptitile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
     
      <!-- КНОПКА  -->
        <a href="#" class="link">
          <svg class="link-button">
              <use class="icon-button" href="./images/sprite.svg#icon-arrow-right" ></use>
          </svg>
      </a>
    </div>
        </li>
        <li class="products__list-item">
          <div class="products__list-item-container2 list-container">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
              ./images/mob.img/products/3home-pic1.webp 1x,
              ./images/mob.img/products/3home-pic1@2x.webp 2x"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
              ./images/mob.img/products/3home-pic1.webp 1x,
              ./images/mob.img/products/3home-pic1@2x.webp 2x"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
              ./images/mob.img/products/3home-pic1.webp 1x,
              ./images/mob.img/products/3home-pic1@2x.webp 2x"
            />
            <img src="#" alt="Milkshakes" class="img"/>
          </picture>
           
           <h3 class="title3">Milkshakes</h3>

           <ul class="points">
            <li class="points-item">
             <a href="#" class="link">
             <svg class="icon-points">
                 <use class="" href="./images/sprite.svg#icon-white-circle" ></use>
             </svg>
             </a>
            </li>
            <li class="points-item">
             <a href="#" class="link">
                 <svg class="icon-points">
                     <use class="" href="./images/sprite.svg#icon-white-circle" ></use>
                 </svg>
                 </a>
            </li>
            <li class="points-item">
             <a href="#" class="link">
                 <svg class="icon-points">
                     <use class="" href="./images/sprite.svg#icon-white-circle" ></use>
                 </svg>
                 </a>
            </li>
        </ul>

           <!-- ОПИС -->
        <p class="products_list-container-suptitile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
     
      <!-- КНОПКА  -->
        <a href="#" class="link">
          <svg class="link-button">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
      </a>
    </div>
        </li>
      </ul>
    </div>
  </section>
